@import "_variables";

.header{
  background: #002239;
  height: 99px;

  &--logo{}

  &--add{
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    @include rem(14);
    line-height: 16px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;

    img{
      margin-right: 8px;
    }
  }

  &--user{
    border: 2px solid #BBF472;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
    display: block;

    &:before{
      content: "";
      position: absolute;
      bottom: 0;
      right: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #FF8181;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    &.notification{}
  }

  .dropdown-menu{
    box-shadow: 0px 2px 14px rgba(53, 52, 63, 0.1);
    border-radius: 8px;
    border-color: #ffffff;
    margin-top: 14px;
    padding: 22px;
    min-width: 165px;
  }

  .dropdown-item{
    padding: 4px 0;
    border-top: 1px solid #E6E6E6;
    font-style: normal;
    font-weight: normal;
    @include rem(14);
    line-height: 1.4;
    display: inline-flex;
    align-items: center;

    &:first-child{
      border-top: none;
    }

    &:last-child{
      color: #A3A3A3;
    }

    i{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #FF8181;
      display: block;
      margin-left: 6px;
    }
  }

  &--search{
    margin-right: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.form-search{
  height: 30px;
  margin-left: 62px;

  &--input{

    width: 160px;
    height: 100%;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 20px;
      background-color: #E6E6E6;
      transform:translate(0,-50%);
    }

    input{
      width: 100%;
      height: 100%;
      border-radius: 60px 0 0 60px;
      outline: none;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      font-style: normal;
      font-weight: normal;
      @include rem(12);
      line-height: 14px;
      color: #404040;
      padding: 0 20px;
    }
  }

  &--select{
    width: 145px;
    height: 100%;
  }

  &--btn{
    width: 33px;
    height: 30px;
    background: #FFD500;
    border-radius: 0 60px 60px 0;
    border: 1px solid #FFD500;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s ease-out;

    &:hover{
      opacity: .9;
    }
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #404040;
  width: 145px;
  height: 30px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  @include transition(all 0.2s ease-in);
  background-color: #ffffff;
  border-radius: 0;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  @include rem(12);
  line-height: 14px;
  color: #A3A3A3;
  padding-left: 20px;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  li {
    margin: 0;
    padding: 5px 0;
    text-indent: 15px;
    @include transition(all 0.15s ease-in);
    color: #404040;
    font-style: normal;
    font-weight: normal;
    @include rem(12);
    line-height: 14px;
    border-top: 1px solid #E6E6E6;

    &[rel="hide"] {
      display: none;
    }
  }
}

.b-icon {
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  width: 30px;
  height: 2px;
  cursor: pointer;

  &:before,
  &:after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 30px;
    height: 2px;
    display: block;
  }

  &:before{
    top: -8px;
  }

  &:after{
    top: 8px;
  }
}